* {
  box-sizing: border-box;
  text-align: center;
}

body {
  width: 960px;
  margin: auto;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 480;
    margin: auto;
  }
}