* {
  box-sizing: border-box;
  text-align: center;
}


/* mobile media query */
body {
  width: 480px;
  margin: auto;
}
/* end mobile media query */


/* tablet media query */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 750px;
    margin: auto;
  }
}
/* end table media query */


/* desktop media query */
@media (min-width: 1025px) {
  body {
    width: 960px;
    margin: auto;
  }
}