#a {
  background-color: aqua;
}

#b {
  background-color: bisque;
}

#c {
  background-color: red;
}

#d {
  background-color: chartreuse;
}

#e {
  background-color: peru;
}

#f {
  background-color: orchid
}

#g {
  background-color: olivedrab
}

#h {
  background-color:mediumaquamarine;
}

#i {
  background-color: goldenrod;
}